.busqueda{
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-items: end;
  gap: 10px;
  padding: 10px;
}

.completadas{
    gap: 10px;
    padding: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}