.all{
  background-color: rgb(124, 75, 118);
  color: rgb(255, 255, 255);
  gap: 5px;
}

.busqueda{
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-items: end;
  gap: 10px;
  padding: 10px;
}

.completadas{
    
    gap: 10px;
    padding: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(121, 116, 116);
    color: rgb(255, 255, 255);
    cursor: pointer;
    
    border-inline-color: rgb(0, 0, 0);
}

.adminTarea{
  display: flex;
  justify-content: right;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}